@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 90%; /* Softer light cyan background */
    --foreground: 210 22% 13%; /* Darker cyan foreground text */
    --muted: 210 16% 87%; /* Muted light cyan for background elements */
    --muted-foreground: 210 20% 46%; /* Muted foreground for muted elements */
    --popover: 210 25% 98%; /* Popover background */
    --popover-foreground: 210 20% 13%; /* Popover text */
    --card: 210 20% 93%; /* Card background */
    --card-foreground: 210 25% 13%; /* Card text */
    --border: 210 15% 85%; /* Border color */
    --input: 210 15% 85%; /* Input background */
    --primary: 195 100% 50%; /* Cyan primary color */
    --primary-foreground: 0 0% 100%; /* White text on primary */
    --secondary: 195 100% 90%; /* Light cyan secondary background */
    --secondary-foreground: 195 100% 30%; /* Cyan secondary text */
    --accent: 195 100% 85%; /* Accent background */
    --accent-foreground: 195 100% 25%; /* Accent text */
    --destructive: 0 100% 50%; /* Red destructive color */
    --destructive-foreground: 0 0% 100%; /* White text on destructive */
    --ring: 195 100% 50%; /* Cyan ring */
    --radius: 0.5rem; /* Border radius */
  }

  .dark {
    --background: 240 23.58% 24.12%; /* Dark background */
    --foreground: 173 24% 93%; /* Light text on dark */
    --muted: 233 10.2% 52.88%; /* Muted dark */
    --muted-foreground: 233 12% 73%; /* Muted light text */
    --popover: 242.73 25% 17.25%; /* Dark popover */
    --popover-foreground: 0 0% 100%; /* White text on popover */
    --card: 242.73 25% 17.25%; /* Dark card */
    --card-foreground: 173 24% 98%; /* Light text on card */
    --border: 233 9.88% 23.8%; /* Dark border */
    --input: 240 27.02% 33.31%; /* Dark input */
    --primary: 152.14 91.3% 63.92%; /* Cyan primary */
    --primary-foreground: 172.08 100% 10%; /* Dark text on primary */
    --secondary: 150.68 53.66% 32.16%; /* Dark cyan secondary */
    --secondary-foreground: 44 30% 85%; /* Light text on secondary */
    --accent: 232.26 17.92% 33.92%; /* Dark accent */
    --accent-foreground: 233 18% 94%; /* Light text on accent */
    --destructive: 10 90% 57%; /* Red destructive */
    --destructive-foreground: 0 0% 100%; /* White text on destructive */
    --ring: 152.14 91.3% 63.92%; /* Cyan ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
